<div>Trunk</div>

<div>
  <div *ngFor="let item of items"
       [ngClass]="getItemClass(item)"
       mwlDraggable
       [dropData]="item"
       (dragStart)="dragStart($event)">
    {{item.name}} - <br/>
    width: {{item.size.width}}, <br/>
    height: {{item.size.height}}
  </div>
</div>

<div class="space">
  <div *ngFor="let y of space" class="row-space">
    <div *ngFor="let point of y"
         class="item-space drop-point"
         [ngClass]="{'item-busy': point.content}"
         mwlDroppable
         (drop)="onDrop($event, point)">
      x:{{point.x}}
      y:{{point.y}}
      content: {{point.content}}
    </div>
  </div>
</div>
